.App {
  text-align: center;
}
.box{
  position: absolute;
  top:38em
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.start{
color:"white";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 999;
  background: rgb(75,75,75);
background: radial-gradient(circle, rgba(75,75,75,0.6615021008403361) 0%, rgba(38,38,38,0.6110819327731092) 100%);
}
.pause{
  text-align: center;
  font-size: 30px;
  position: absolute;
  display: flex;
  justify-self: start;
  align-items: flex-start;
  z-index: 9999;

}
.main{
  background: rgb(174,217,238);
background: radial-gradient(circle, rgba(174,217,238,1) 0%, rgba(148,210,233,1) 100%);

}
.sky{
  background: rgb(0,194,255);
background: linear-gradient(0deg, rgba(0,194,255,1) 0%, rgba(0,76,250,1) 100%);
}
.cloud{
  position: absolute;

}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
